#prompt {
    font-weight: 900;
    animation: color-anim 10s linear infinite;
}

@keyframes color-anim {
    0% {
        color: #74b1be;
    }
    50% {
        color: #7e7e7e5f;
    }
    100% {
        color: #74b1be;
    }
}

#titlebar {
    position: relative;
    height: 20px;
    width: 100vw;
    background: #2f3241;
    color: #74b1be;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.titlebar-region-drag {
    width: calc(100vw - 75px);
    height: 100%;
    app-region: drag;
}

.app-title-btns {
    width: 75px;
    display: flex;
    justify-content: flex-end;
}

.app-title-btn {
    height: 30px !important;
    width: 25px !important;
    padding: 0 5px 0 5px;
    border-radius: 0px !important;
    border: 1px solid rgba(0,0,0,0);
    background-color: #464857;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
}

.app-title-btn + .app-title-btn {
    border-left: 1px solid #80818671;
}

.app-title-btn:hover {
    background-color: rgba(128, 128, 128, 0.55);
    transition: all 0.2s ease;
}

#app-title {
    position: absolute;
    margin: auto;
    letter-spacing: 1.1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
