
:root {
    --p-button-secondary-background: rgba(232, 232, 232, 0.676) !important;
    --p-button-secondary-hover-background: rgb(181, 180, 180) !important;
    --p-button-secondary-border-color: rgb(188, 188, 188) !important;
    --p-button-secondary-hover-border-color: rgb(176, 175, 175) !important;
    --p-button-secondary-color: rgb(88, 88, 88) !important;
}

.p-button {
    font-size: var(--ui-text-size) !important;
}

.p-button-help {
    border-color: var(--cf-primary-2) !important;
    color: var(--cf-primary-2) !important;
    transition: all 0.6s ease;
}

.p-button-help:active {
    background-color: var(--cf-primary-1) !important;
    transition: all 0.6s ease;
}

.p-button-help:hover {
    background-color: var(--cf-primary-0) !important;
    transition: all 0.6s ease;
}