
.theme-dark-contrast {
    --bg-color: rgb(0, 0, 0) !important;
    --fg-color: rgb(255, 255, 255) !important;
    --bg-color-1: rgb(32, 32, 32) !important;

    --border-color-1: rgba(197, 195, 195, 0.487);

    /* COMPONENTS */
}