
:root {
    --cf-primary-1: rgb(182, 143, 202);
    --cf-primary-2: rgb(179, 119, 209);

    --light-text-1: rgb(196, 196, 196);
    --light-text-3: rgb(147, 145, 145);
    --light-text-4: rgb(105, 105, 105);
}