
:root {
    --font: monospace;
    --bg-color: white;
    --fg-color: rgb(39, 39, 39);
    --rounded: 4px;
    --shadow-1: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --shadow-2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --shadow-3: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    --ui-transition-time: 0.4s;

    /* Размеры текстов */
    --input-text-size: 13px;

    /* Размер текста для общих UI-элементов */
    --ui-text-size: 13px;
}